.container {
  max-Width: 500px;
  margin: 1rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-Radius: 8px;
  box-Shadow: 0px 0px 10px grey;
}
h1{
  color: green;
  text-align: center;
}
.labelStyle{
  flex: 1;
  max-width: 200px;
}
.inputContainer{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}
.buttonStyle {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.generatedPassword{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputStyle{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 320px;
}
